.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.heading {
  text-align: center;
  color: #333;
}

.button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.logout {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.logout:hover {
  background-color: lightgray;
}

.delete {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 5px;
}

.delete:hover {
  background-color: #db3c30;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  font-weight: bold;
}

.history {
  list-style-type: none;
  padding: 0;
}

.historyTitle {
  margin-top: 50px;
  margin-bottom: 10px;
}

.history li {
  background: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.geoData {
  background: #f9f9f9;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.geoTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
}

.geoTable td {
  padding: 8px;
  border: 1px solid #ddd;
}

.geoTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.geoTable tr:hover {
  background-color: #f1f1f1;
}

.geoTable td strong {
  color: #333;
}
